@tailwind base;

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    scrollbar-width: thin;
    scrollbar-color: white;
}

*::-webkit-scrollbar {
    width: 5px;
    height: 10px;
    background-color: #262626;
  }
  
  *::-webkit-scrollbar-track {
    background: #262626;
    border-radius: 5px;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #FAFAFA;
    border-radius: 15px;
  }
  

@tailwind components;
@tailwind utilities;


